html,
body {
  background-color: #ffffff;
  color: #797979;
  font-family: "Inter";
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  letter-spacing: -0.05em;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}

img.logo {
  height: 150px;
  width: 150px;
  margin-bottom: 5%;
}

.description {
  font-size: 2.5vh;
  text-align: center;
  margin-bottom: 5%;
}

a.button {
  text-decoration: none;
  color: #ffffff;
  background-color: #2c66bc;
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

a.button:hover {
  background-color: #3d6eb6;
}

@media screen and (max-width: 700px) {
  img.logo {
    margin-bottom: 10%;
  }

  .description {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
